@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    user-select: none;
  }

  a {
    text-decoration: none;
    color: black;
    background-color: #fbab7e;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .Card-Item {
    position: relative;
    width: 300px;
    height: 600px;
    padding: 0.4rem;
    background-image: radial-gradient(rgb(238, 155, 55) 50%, rgb(200, 50, 0));
    border: 0.4rem solid rgba(150, 90, 20, 1);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 6px 6px 5px rgb(150, 150, 150);
    transition: 0.3s all;
    user-select: none;
  }

  .Card-Title {
    position: relative;
    display: grid;
    grid-template-columns: 15px 1fr 20px;
    border-radius: 1rem 1rem 0 0;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(240, 210, 170, 0.2);
    overflow: hidden;
    border: 0.25rem solid rgb(240, 210, 170);
    border-bottom: none;

    span {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem;
      border-radius: 1rem 1rem 0 0;

      &:first-child {
        border-radius: 100%;
        background-color: rgb(255, 215, 0);
        height: 20px;
        width: 20px;
        line-height: 20px;
        padding: 0;
        top: 15px;
        left: 5px;
        box-shadow: 0 0 5px rgb(255, 50, 0);
      }

      &:last-child {
        padding: 0;
        height: 40px;
        width: 40px;
        line-height: 40px;
        top: 5px;
        right: 25px;
        font-size: 2rem;
        background-color: rgb(255, 215, 0);
        text-shadow: 2px 2px 4px rgb(255, 100, 0);
        border-radius: 100%;
        color: red;
        color: white;
        box-shadow: 0 0 5px rgb(255, 50, 0);
        cursor: pointer;

        &.favorite {
          color: red;
        }
      }

      &.first-upper {
        letter-spacing: 1px;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .shine {
      position: absolute;
      padding: 0;
      height: 46px;
      width: 46px;
      top: 2.4px;
      right: 2.4px;
      border-radius: 100%;
      color: red;
      color: white;
      background: linear-gradient(
        180deg,
        yellow 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
      transition: 0.5s all;
    }
  }

  .Card-Image {
    background-image: linear-gradient(
      to bottom,
      rgba(227, 168, 30, 0.5),
      rgba(122, 34, 56, 0.5)
    );
    background-size: 200% 200%;
    border: 0.25rem solid rgb(240, 210, 170);
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    transition: 0.3s all;

    img {
      display: block;
      margin: 0 auto;
      width: 80%;
      transition: 0.3s all;
    }
  }

  .Card-Item:hover {
    box-shadow: 15px 15px 5px rgb(150, 150, 150);
    transform: scale(1.05);
  }

  .Card-Item:hover .Card-Image {
    background-size: 100% 100%;
    background-position: 50%;
  }

  .Card-Item:hover .Card-Image img {
    transform: scale(1.1);
  }

  .Card-Item:hover .shine {
    animation: shine-ani 2s infinite;
  }

  .Card-Types {
    display: flex;
    gap: 0.2rem;
    overflow: hidden;

    .type {
      position: relative;
      display: flex;
      width: 100%;
      padding: 0.2rem;
      margin-top: 0.5rem;
      background-color: whitesmoke;
      border: 4px solid #f0d2aa;
      border-radius: 0.5rem;

      .type-img {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 7px;
        margin-left: 5px;
      }
      .type-name {
        display: block;
        padding-left: 0.2rem;
        text-align: center;
        width: 100%;
        font-weight: normal;
      }
    }
  }

  .Card-Abilities {
    height: 6rem;
    background-color: white;
    border-radius: 1rem;
    border: 0.25rem solid rgb(240, 210, 170);
    padding: 0 0.7rem;
    overflow: scroll;
    margin-top: 1rem;

    span {
      font-size: 0.8rem;
      &.ability-name {
        font-weight: bold;
        display: block;
        text-align: center;
        background-color: rgb(240, 210, 170);
        margin: 0.4rem 0;
        border-radius: 0.4rem;
        padding: 0.2rem;
      }
      &.ability-description {
        display: block;
        text-align: justify;
        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @keyframes shine-ani {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
