footer {
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: center;

  span {
    align-items: center;
    box-shadow: 6px 6px 5px rgb(150, 150, 150);
    border: 0.5rem solid rgba(150, 90, 20, 1);
    border-radius: 2rem;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    color: rgb(160, 50, 0);
    display: block;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #f7ce68;
    text-align: center;
    padding: 1rem 1.5rem;
    width: 100%;
  }
}
